<%- include('includes/head') %>
<%- include('includes/nav') %>
    
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col">
      <h1 class="text-center mt-2">Olá <%= user.email%> </h1>
      <p class="text-center lead">Voce está logado no sistema.</p>

      <%- include('includes/messages') %>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer') %>


